.button {
  display: block;
  border: 2px solid $very-dark-brown;
  text-decoration: none;
  text-align: center;
  color: $greyish-brown;
  text-transform: uppercase;
  padding: 15px 80px;

  @include font (17px, 700, 20px);
}
