.color-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.color-list__item {
  padding-left: 62px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 21px;
}

.color-list__label {
  @include font(17px, 700, 18px);
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: " ";
    left: -63px;
    top: -9px;
    border: 2px solid $greyish-brown;
    width: 40px;
    height: 40px;
  }
}

.color-list__input-checkbox {
  &:checked {
    + .color-list__label {
      &::before {
        background-image: url("../../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-size: 22px 16px;
        background-position: 50%;
      }
    }
  }
}
