.contacts {
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    height: 650px;
    flex-direction: column;
    padding-left: 174px;
    padding-top: 118px;
  }
}

.contacts__body {
  @media (min-width: $desktop-width) {
    width: 310px;
    margin-right: 41px;
    margin-top: 76px;
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 41px;
  }
}

.contacts__title {
  @include font(18px, 700, 30px);
  margin-top: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include font(43px, 700, 50px);
  }

  @media (min-width: $desktop-width) {
    @include font(52px, 700, 57px);
    margin-bottom: 48px;
  }
}

.contacts__email {
  @include font(15px, 400, 30px);
  color: $greyish-brown;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__email span {
  margin-right: 25px;

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.contacts__email-link {
  color: inherit;
  border-bottom: 1px solid $seafoam-blue;
  padding-bottom: 4px;

  &:hover,
  &:focus {
    color: $mediumTurquoise;
    outline: none;
  }

  &:active {
    color: $mediumTurquoise;
    opacity: 0.3;
  }
}

.contacts__address {
  @include font(15px, 400, 30px);
  color: $greyish-brown;
  margin-top: 0;
  margin-bottom: 39px;
  display: flex;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__address span {
  margin-right: 30px;

  @media (min-width: $desktop-width) {
    margin-right: 26px;
  }
}

.contacts__map {
  position: relative;
  height: 457px;
  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    width: 525px;
    order: 1;
    margin-top: 5px;
  }
}

.contacts__map-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__write-us {
  @include font(18px, 700, 20px);
  padding: 14px 0;
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include font(17px, 700, 20px);
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
