.form-order {
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 149px;
  }
}

.form-order__text {
  @include font(13px, 400, 24px);
  color: $greyish-brown;
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    margin: 0 auto 3px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
