.form__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
  }
}

.form__fieldset-type {
  @include fieldset-reset;
  margin-bottom: 4px;

  .form__legend {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;

    .form__legend {
      padding-top: 4px;
    }

    .form__wrapper {
      padding-top: 66px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;

    .form__legend {
      padding: 5px 0 0 63px;
    }

    .form__wrapper {
      padding-top: 68px;
    }
  }
}


.form__legend {
  @include font(17px, 700, 16px);
  color: $seafoam-blue;
  text-transform: uppercase;
  padding: 0;
  position: relative;

  &::before {
    position: absolute;
    content: " ";
    width: 198px;
    height: 1px;
    background-color: $seafoam-blue;
    left: 63px;
    top: 8px;
  }

  @media (min-width: $tablet-width) {
    width: 167px*100%/668px;
    margin: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 175px*100%/1050px;
    padding-left: 60px;
  }
}

.form__fieldset-color {
  @include fieldset-reset;
  margin: 0 0 14px 0;

  .form__legend {
    margin: 0 0 25px 0;
  }

  @media (min-width: $tablet-width) {
    background-color: $smoky-white;
    margin: 0;

    .form__wrapper {
      padding-top: 66px;
    }
  }
}

.form__fieldset-name {
  @include fieldset-reset;
  margin-bottom: 15px;

  .form__legend {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;

    .form__legend {
      padding-top: 23px;
    }

    .form__wrapper {
      padding-top: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    .form__legend {
      padding-top: 22px;
    }

    .form__wrapper {
      padding-top: 42px;
    }
  }
}

.form__fieldset-phone {
  @include fieldset-reset;
  margin-bottom: 15px;

  .form__legend {
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    background-color: $smoky-white;
    margin: 0;

    .form__legend {
      padding-top: 22px;
    }

    .form__wrapper {
      padding-top: 44px;
    }
  }
}

.form__phone-input {
  border: none;
  border-bottom: 2px solid $black;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  color: $greyish-brown;
  transition: border-color 0.3s ease;

  &:-ms-input-placeholder {
    //для IE
    color: $silver;
  }

  &::placeholder {
    @include font(19px, 400, 18px);
    color: $silver;
  }

  @media (min-width: $tablet-width) {
    @include font(19px, 400, 18px);
    background-color: inherit;
    padding-left: 17px;
    padding-bottom: 13px;
    width: 75%;

    &::placeholder {
      @include font(19px, 400, 18px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 700px*100%/1050px;
  }
}

.form__fieldset-email {
  @include fieldset-reset;
  margin-bottom: 15px;

  .form__legend {
    margin-bottom: 9px;

    &::before {
      width: 179px;
      left: 82px;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: $smoky-white;
    padding-bottom: 50px;

    .form__wrapper {
      padding-top: 19px;
    }

    .form__legend {
      padding-top: 25px;
    }
  }
}

.form__email-input {
  @include font(17px, 400, 18px);
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $greyish-brown;
  transition: border-color 0.3s ease;

  &:-ms-input-placeholder {
    //для IE
    color: $silver;
  }

  &::placeholder {
    @include font(17px, 400, 18px);
    color: $silver;
  }

  @media (min-width: $tablet-width) {
    @include font(19px, 400, 18px);
    background-color: inherit;
    width: 501px*100%/668px;
    padding-left: 16px;

    &::placeholder {
      @include font(19px, 400, 18px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 700px*100%/1050px;
  }
}

.form__input {

  &:hover,
  &:focus {
    border-color: $darkSeaGreen;
    outline: none;

    +.form__input-icon {
      fill: $darkSeaGreen;
      opacity: 1;
    }
  }
}

.form__input-icon {
  position: absolute;
  top: 34px;
  opacity: 0.2;
  transition: all 0.3s ease;

  &--tel {
    width: 25px;
    height: 25px;
    right: 37px;

    @media (min-width: $tablet-width) {
      right: 76px;
      top: 61px;
    }

    @media (min-width: $desktop-width) {
      right: 183px;
    }
  }

  &--email {
    width: 32px;
    height: 32px;
    right: 34px;

    @media (min-width: $tablet-width) {
      right: 72px;
      top: 36px;
    }

    @media (min-width: $desktop-width) {
      right: 179px;
    }
  }
}

.form__fieldset-letter {
  @include fieldset-reset;
  margin-bottom: 11px;

  .form__legend {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;

    .form__legend {
      padding-top: 17px;
    }

    .form__wrapper {
      padding-top: 17px;
    }
  }
}

.form__letter-field {
  @include font(17px, 400, 18px);
  border: 2px solid $greyish-brown;
  padding: 15px;
  width: 100%;
  min-height: 142px;
  color: $greyish-brown;
  transition: border-color 0.3s ease;

  &:-ms-input-placeholder {
    //для IE
    color: $silver;
  }

  &::placeholder {
    @include font(17px, 400, 18px);
    color: $silver;
  }

  @media (min-width: $tablet-width) {
    @include font(19px, 400, 18px);
    width: 501px*100%/668px;

    &::placeholder {
      @include font(19px, 400, 18px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 700px*100%/1050px;
  }
}

.form__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding-top: 38px;
    padding-bottom: 48px;
  }
}

.form__text {
  @include font(14px, 400, 16px);
  color: $greyish-brown;
  margin: 0 0 31px 0;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    width: 350px;
    text-align: end;
    padding-top: 9px;
    margin-bottom: 0;
  }
}

.form__button {
  background-color: transparent;
  padding: 14px 45px;
  margin: 0 auto 56px;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 230px;
    padding: 14px 5px;
    margin: 0;
  }
}
