.main-intro {
  min-height: 488px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;
  background-color: $ghostly-white;

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-tablet@1x.jpg");
    min-height: 745px;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
  }
}

.main-intro__title {
  @include font(27px, 700, 30px);
  text-align: center;
  margin: 0;
  padding: 69px 30px 15px;
  min-height: 282px;

  @media (min-width: $tablet-width) {
    @include font(43px, 700, 50px);
    padding-top: 153px;
    flex-grow: 1;
  }
}

.main-intro__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 119px;
    margin: 0 auto;
  }
}

.main-intro__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 668px;
  }
}

.main-intro__item {
  display: flex;
  align-items: center;
  height: 103px;

  &--interior {
    background-color: $seafoam-blue;
  }

  &--toys {
    background-color: $greeny-blue;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;

  }
}

.main-intro__link {
  @include font (19px, 700, 24px);

  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  align-items: center;

  @media (min-width:$tablet-width) {
    @include font (20px, 700, 30px);
    padding: 0 36px;
  }
}

.main-intro__text {
  width: 120px;
}
