.main-nav {
  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 435px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }

  &__toggle {
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 18px;
    right: 21px;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--closed {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-open.svg");
    }

    @media (max-width: $mob-width-only) {
      .site-list {
        display: none;
      }
    }
  }

  &--opened {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-close.svg");
    }
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__delivery {
  display: none;

  @media (min-width: $tablet-width) {
    @include font(15px, 400, 24px);
    display: block;
    order: 1;
    margin: 0;
  }
}
