.main-intro {
  min-height: 488px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;
  background-color: $ghostly-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-intro__title {
  color: $black;

  @include font(27px, 700, 30px);
  text-align: center;
  margin: 0;
  padding: 69px 30px 15px;
  min-height: 282px;
}

.main-intro__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 206px;
}

.main-intro__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main-intro__item--interior {
  background-color: $seafoam-blue;
}

.main-intro__item--toys {
  background-color: $greeny-blue;
}


.main-intro__item-link {
  @include font (19px, 700, 24px);

  text-decoration: none;
  color: $white;
  width: 177px;
  padding-left: 28px;
  padding-right: 28px;
}
