.main-nav {
  @media (min-width: $tablet-width) {
    order: 1;
    width: 435px;
    margin-top: -41px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    min-height: 145px;
    height: 145px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  }

  &__toggle {
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 18px;
    right: 21px;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--closed {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-open.svg");
    }

    @media (max-width: $mob-width-only) {
      .site-list {
        display: none;
      }
    }
  }

  &--opened {
    .main-nav__toggle {
      background-image: url("../img/icon-menu-close.svg");
    }
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }
}
