.page-footer {
  background-color: $smoky-white;
  padding-top: 16px;
  min-height: 160px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 143px;
    padding-top: 0;

    @media (min-width: $desktop-width) {
      width: 1050px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 80px;
  }
}

.page-footer__social {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  padding: 0;
}
