.page-catalog__title {
  @include font(27px, 700, 30px);
  margin: 0;
  text-align: center;
  background-color: $smoky-white;
  padding-top: 69px;
  padding-bottom: 75px;

  @media (min-width: $tablet-width) {
    @include font(43px, 700, 50px);
    padding-top: 95px;
  }
}
