.page-footer {
  background-color: $smoky-white;
  padding-top: 16px;
  min-height: 160px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    min-width: 668px;
    display: flex;
    justify-content: space-between;
    min-height: 143px;
    height: 143px;
    padding-top: 0;
    align-items: center;

    @media (min-width: $desktop-width) {
      width: 1050px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 15px 0;
    transition: all 0.3s ease;

    &[href]:hover,
    &[href]:focus {
      fill: $mediumTurquoise;
    }

    &:focus {
      outline: none;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    margin-right: 80px;
    align-self: center;
    width: 102px;
    height: 40px;
  }
}

.page-footer__social {
  margin-bottom: 21px;
  position: relative;

  &::after {
    position: absolute;
    content: " ";
    width: 260px;
    height: 1px;
    background-color: $grey;
    bottom: -17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.page-footer__copyright {
  padding: 0;
}
