.production {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 106px;
  }
}
