.promo {
  padding-top: 5px;
  padding-bottom: 43px;
  position: relative;

  &::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 95px;
    background-position: center bottom;
  }
}

.promo__header {
  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 130px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    padding-top: 56px;
    padding-left: 47px;
  }
}

.promo__title {
  padding: 0;
  color: $black;
  margin-bottom: 6px;

  @include font(25px, 700, 30px);

  @media (min-width: $tablet-width) {
    @include font(43px, 700, 50px);
    margin: 0;
    width: 430px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 700, 57px);
    margin-bottom: 10px;
    width: 530px;
  }
}

.promo__caption {
  color: $seafoam-blue;

  @include font(17px, 700, 20px);
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    @include font(17px, 700, 17px);
    margin: 0;
    min-height: 35px;
    width: 124px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    width: 70px;
    margin-right: 51px;
  }
}

.promo__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.promo__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-top: 27px;
  }
}


.promo__description {
  @include font(15px, 400, 24px);
  color: $greyish-brown;
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    width: 282px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.promo__table {
  @include font(15px, 400, 20px);
  width: 260px;
  color: $greyish-brown;
  border-collapse: collapse;
  margin: 0 auto 26px;

  @media (min-width: $tablet-width) {
    width: 291px;
    margin: 0 0 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 106px;
  }
}

.promo__table tr {
  border-bottom: 1px solid $grey;
  vertical-align: baseline;
}

.promo__option {
  width: 96px;
  padding: 10px 0;
}

.promo__image {
  margin: 0 auto 25px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    order: 1;
    width: 334px;
    height: 404px;
    margin: 0 0 25px;
    position: absolute;
    top: 8px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    margin-top: 0;
    position: absolute;
    top: -132px;
    z-index: -1;
  }
}

.promo__price {
  @include font(17px, 700, 24px);
  color: $greyish-brown;
  text-align: center;
  margin: 0 auto 25px;
  width: 144px;

  @media (min-width: $tablet-width) {
    @include font(20px, 700, 24px);
    width: 288px;
    margin: 0 0 35px;
  }
}

.promo__order {
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin: 0;
  }
}
