.reviews {
  padding-top: 55px;
  position: relative;
}

.reviews__wrapper {
  margin-bottom: 118px;
}

.reviews__title {
  @include font(25px, 700, 30px);
  margin: 0;
}

.reviews__item {
  margin: 0;
  padding-top: 23px;
}

.reviews__text {
  @include font(15px, 400, 30px);
  margin-top: 0;
  margin-bottom: 25px;
  color: $greyish-brown;
}

.reviews__user {
  @include font(17px, 700, 30px);
  font-style: normal;
  color: $greyish-brown;
}

.reviews__user-link {
  @include font(17px, 400, 30px);
  display: block;
  color: $greyish-brown;
}

.reviews__prev {
  position: absolute;
  bottom: 90px;
  background-image: url("/img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 52px;
  border: 1px solid $line-grey;
  border-right-width: 0.5px;
}

.reviews__next {
  position: absolute;
  bottom: 90px;
  right: 31px;
  background-image: url("/img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 52px;
  border: 1px solid $line-grey;
  border-left-width: 0.5px;
}

.reviews__write {
  @include font(18px, 700, 20px);
  color: $greyish-brown;
}
