.reviews {
  padding-top: 56px;
  padding-bottom: 84px;
  position: relative;

  &::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 95%;
    z-index: -1;
  }


  @media (min-width: $tablet-width) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 75px;

    &::after {
      background-position: center 90%;
    }


    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 77px 171px;

    &::after {
      background-position: center 98%;
    }
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.reviews__body {
  margin-bottom: 119px;
}

.reviews__title {
  @include font(25px, 700, 30px);
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    @include font(43px, 700, 50px);
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    @include font(53px, 700, 57px);
    margin-bottom: 49px;
  }
}

.reviews__item {
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-left: 4px;
    padding-right: 82px;
  }
}

.reviews__text {
  @include font(15px, 400, 30px);
  margin-top: 0;
  margin-bottom: 25px;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    @include font(17px, 400, 30px);
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.reviews__user {
  @include font(17px, 700, 30px);
  font-style: normal;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    @include font(18px, 700, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font(17px, 700, 24px);
  }
}

.reviews__user-link {
  @include font(17px, 400, 30px);
  display: block;
  color: $greyish-brown;

  &:hover,
  &:focus {
    color: $mediumTurquoise;
    outline: none;
  }

  &:active {
    color: $mediumTurquoise;
    opacity: 0.3;
  }
}

.reviews__buttons {
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 344px;
    height: 344px;
  }

  @media (min-width: $desktop-width) {
    min-height: 294px;
    height: 294px;
    margin-top: 9px;
  }
}

.reviews__prev {
  position: absolute;
  bottom: 90px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 130px;
  height: 52px;
  border: 1px solid $grey;
  border-right-width: 0.5px;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    bottom: 14px;
    right: 93px;
    width: 75px;
  }
}

.reviews__next {
  position: absolute;
  bottom: 90px;
  right: 0;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 131px;
  height: 52px;
  border: 1px solid $grey;
  border-left-width: 0.5px;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    bottom: 14px;
    right: 8px;
    width: 75px;
  }
}

.reviews__write {
  @include font(18px, 700, 20px);
  padding: 14px 0;

  @media (min-width: $tablet-width) {
    @include font(17px, 700, 20px);
    width: 175px;
  }
}
