.social {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 8px;
  }
}

.social__item {
  margin-right: 8px;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 73%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.social__link {
  display: block;
  padding: 10px 16px;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
  }
}

.social__image {
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    fill: $mediumTurquoise;
  }

  &:active {
    opacity: 0.3;
  }

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}
