.toys-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toys-list__item {
  border: 1px solid $grey;
  margin-bottom: 30px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toys-list__item-link {
  display: block;
  margin-bottom: 23px;
}

.toys-list__item-body {
  width: 203px;
}

.toys-list__title {
  @include font(17px, 700, 24px);
  margin: 0;
  margin-bottom: 5px;
}

.toys-list__title-link {
  color: $black;
}

.toys-list__options {
  @include font(13px, 400, 30px);
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  color: $greyish-brown;
}

.toys-list__options::after {
  position: absolute;
  content: "";
  width: 204px;
  height: 1px;
  background-color: $grey;
  top: 48px;
  left: 0;
}

.toys-list__price {
  @include font(15px, 700, 24px);
  margin: 0;
}
