//color

$seafoam-blue: #63d1bb;
$darkSeaGreen: #62d1ba;
$greeny-blue: #56c3b2;
$turquoise: #59d5bc;
$mediumTurquoise: #46c1ae;
$greenPine: #149080;
$greyish-brown:#444444;
$black: #000000;
$black-30: rgba(0, 0, 0, 0.3);
$black-60: rgba(0, 0, 0, 0.6);
$brown-dark: #010000;
$white: #ffffff;
$white-90: rgba(255, 255, 255, 0.9);
$white-30: rgba(255, 255, 255, 0.3);
$smoky-white:#f1f1f1;
$ghostly-white: #f9f9f9;
$grey: #ececec;
$silver: #c7c7c7;

//font

$font-family: "Open Sans", "Arial", sans-serif;

//size

$mob-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
