//color-text

$very-dark-brown:#010000;
$black: #000000;
$greyish-brown:#444444;
$white: #ffffff;
$product-week: #63d1bb;

//color-bg

$bg-interior: #63d1bb;
$bg-toys: #56c3b2;
$bg-intro: #f9f9f9;
$bg-footer: #f1f1f1;

//color-line

$line-grey: #ececec;
$line-lightgreen: #63d1bb;

//icon

$lightgreen: #63d1bb;

// font

$font-family: "Open Sans", "Arial", sans-serif;

